# SPDX-FileCopyrightText: 2025 Ben Jarvis
#
# SPDX-License-Identifier: LGPL-2.1-only

[submodule "ext/xdrzcc"]
	path = ext/xdrzcc
	url = https://github.com/chimera-nas/xdrzcc.git
[submodule "ext/prometheus-c"]
	path = ext/prometheus-c
	url = git@github.com:chimera-nas/prometheus-c.git
